# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
node_modules/
aspnet-core/src/AgentPurchaseManagementPlatform.Web.Host/App_Data/Logs/
aspnet-core/src/AgentPurchaseManagementPlatform.Web.Mvc/App_Data/Logs/
aspnet-core/src/AgentPurchaseManagementPlatform.Migrator/Logs/Logs.txt
4.6.0/aspnet-core/src/AgentPurchaseManagementPlatform.Web.Host/App_Data/Logs/
4.6.0/aspnet-core/src/AgentPurchaseManagementPlatform.Web.Mvc/App_Data/Logs/
4.6.0/aspnet-core/src/AgentPurchaseManagementPlatform.Migrator/Logs/Logs.txt
