<div bsModal #downOrderModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
  aria-labelledby="downOrderModal" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">
    <div #modalContent class="modal-content">
      <form *ngIf="active" #downOrderForm="ngForm" id="frm_down_order" novalidate (ngSubmit)="save()">
        <div class="modal-header">
          <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            <span>订购订单</span>
          </h4>
        </div>
        <div class="modal-body">
          <div class="row clearfix">
            <div class="col-sm-6">
              <div class="form-group form-float">
                <div class="form-line">
                  <input id="usaLogisticsNumber" type="text" name="usaLogisticsNumber" [(ngModel)]="order.usaLogisticsNumber"
                    class="validate form-control">
                  <label for="usaLogisticsNumber" class="form-label">美国物流单号</label>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group form-float">
                <div class="form-line">
                  <input id="trueBuyPrice" type="text" name="trueBuyPrice" [(ngModel)]="order.trueBuyPrice" class="validate form-control">
                  <label for="trueBuyPrice" class="form-label">实际订购价格</label>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group form-float">
                <div class="form-line">
                  <input id="transportNumber" type="text" name="transportNumber" [(ngModel)]="order.transportNumber"
                    class="validate form-control">
                  <label for="transportNumber" class="form-label">转运单号</label>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group form-float">
                <div class="form-line">
                  <input id="transportPrice" type="text" name="transportPrice" [(ngModel)]="order.transportPrice" class="validate form-control">
                  <label for="transportPrice" class="form-label">转运价格</label>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group form-float">
                <div class="form-line">
                  <select class="form-control show-tick" name="state" id="state" [(ngModel)]="order.state">
                    <option value="1">已经订购</option>
                    <option value="2">美国出单</option>
                    <option value="3">转运出单</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <input id="notBuyDesc" type="text" name="notBuyDesc" [(ngModel)]="order.notBuyDesc" maxlength="4000"
                    minlength="1" class="validate form-control">
                  <label for="notBuyDesc" class="form-label">未订购说明</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
            取消
          </button>
          <button [disabled]="!downOrderForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
            保存
          </button>
        </div>
      </form>
    </div>
  </div>
</div>