<div bsModal #userBalanceRecords="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
  aria-labelledby="userBalanceRecords" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">
    <div #modalContent class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          <span>资金记录</span>
        </h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-striped" *ngIf="isActive">
          <thead>
            <tr>
              <th style="width:150px;">金额</th>            
              <th>说明</th>
              <th style="width:150px;">时间</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let balance of balances | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
              <td>{{balance.money}}</td>
              <td>{{balance.desc}}</td>
              <td>{{balance.creationTime | date:"yyyy-MM-dd hh:mm:ss"}}</td>
            </tr>
          </tbody>
        </table>
        <!-- ******************************************************** -->

        <div class="text-align: center;" *ngIf="totalItems > pageSize">
          <abp-pagination-controls (pageChange)="getDataPage($event)" id="server"></abp-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>